!!!
%html
  %head
    %title
      = @batch.heading
  %body
    %h1
      inSCALE Data Report
    %h2
      = @batch.heading
    %h3
      = @sub
    = @batch.csv_batch_rows.count
    submissions attached.

