#monthsdiv
.pdus
  %table{:class => 'largetable'}
    = ci_table_header
    %tbody
      - @subs.each do |sub|
        - sbm = sub.submission
        - next unless sbm
        = ci_table_row sub, sbm
