@font-face {
    font-family: 'SansationRegular';
    src: url('/assets/Sansation_Regular-webfont.eot');
    src: url('/assets/Sansation_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Sansation_Regular-webfont.woff') format('woff'),
         url('/assets/Sansation_Regular-webfont.ttf') format('truetype'),
         url('/assets/Sansation_Regular-webfont.svg#SansationRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationLight';
    src: url('/assets/Sansation_Light-webfont.eot');
    src: url('/assets/Sansation_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Sansation_Light-webfont.woff') format('woff'),
         url('/assets/Sansation_Light-webfont.ttf') format('truetype'),
         url('/assets/Sansation_Light-webfont.svg#SansationLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationBold';
    src: url('/assets/Sansation_Bold-webfont.eot');
    src: url('/assets/Sansation_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Sansation_Bold-webfont.woff') format('woff'),
         url('/assets/Sansation_Bold-webfont.ttf') format('truetype'),
         url('/assets/Sansation_Bold-webfont.svg#SansationBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinRegular';
    src: url('/assets/Cabin-Regular-webfont.eot');
    src: url('/assets/Cabin-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Cabin-Regular-webfont.woff') format('woff'),
         url('/assets/Cabin-Regular-webfont.ttf') format('truetype'),
         url('/assets/Cabin-Regular-webfont.svg#CabinRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinItalic';
    src: url('/assets/Cabin-Italic-webfont.eot');
    src: url('/assets/Cabin-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Cabin-Italic-webfont.woff') format('woff'),
         url('/assets/Cabin-Italic-webfont.ttf') format('truetype'),
         url('/assets/Cabin-Italic-webfont.svg#CabinItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinMedium';
    src: url('/assets/Cabin-Medium-webfont.eot');
    src: url('/assets/Cabin-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Cabin-Medium-webfont.woff') format('woff'),
         url('/assets/Cabin-Medium-webfont.ttf') format('truetype'),
         url('/assets/Cabin-Medium-webfont.svg#CabinMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinMediumItalic';
    src: url('/assets/Cabin-MediumItalic-webfont.eot');
    src: url('/assets/Cabin-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Cabin-MediumItalic-webfont.woff') format('woff'),
         url('/assets/Cabin-MediumItalic-webfont.ttf') format('truetype'),
         url('/assets/Cabin-MediumItalic-webfont.svg#CabinMediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinSemiBold';
    src: url('/assets/Cabin-SemiBold-webfont.eot');
    src: url('/assets/Cabin-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Cabin-SemiBold-webfont.woff') format('woff'),
         url('/assets/Cabin-SemiBold-webfont.ttf') format('truetype'),
         url('/assets/Cabin-SemiBold-webfont.svg#CabinSemiBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinSemiBoldItalic';
    src: url('/assets/Cabin-SemiBoldItalic-webfont.eot');
    src: url('/assets/Cabin-SemiBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Cabin-SemiBoldItalic-webfont.woff') format('woff'),
         url('/assets/Cabin-SemiBoldItalic-webfont.ttf') format('truetype'),
         url('/assets/Cabin-SemiBoldItalic-webfont.svg#CabinSemiBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinBold';
    src: url('/assets/Cabin-Bold-webfont.eot');
    src: url('/assets/Cabin-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Cabin-Bold-webfont.woff') format('woff'),
         url('/assets/Cabin-Bold-webfont.ttf') format('truetype'),
         url('/assets/Cabin-Bold-webfont.svg#CabinBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinBoldItalic';
    src: url('/assets/Cabin-BoldItalic-webfont.eot');
    src: url('/assets/Cabin-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Cabin-BoldItalic-webfont.woff') format('woff'),
         url('/assets/Cabin-BoldItalic-webfont.ttf') format('truetype'),
         url('/assets/Cabin-BoldItalic-webfont.svg#CabinBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuattrocentoRomanRegular';
    src: url('/assets/Quattrocento-Regular-webfont.eot');
    src: url('/assets/Quattrocento-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Quattrocento-Regular-webfont.woff') format('woff'),
         url('/assets/Quattrocento-Regular-webfont.ttf') format('truetype'),
         url('/assets/Quattrocento-Regular-webfont.svg#QuattrocentoRomanRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LintsecRegular';
    src: url('/assets/Lintsec-webfont.eot');
    src: url('/assets/Lintsec-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Lintsec-webfont.woff') format('woff'),
         url('/assets/Lintsec-webfont.ttf') format('truetype'),
         url('/assets/Lintsec-webfont.svg#LintsecRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
