%table
  %thead
    %th Districts
    %th VHTs
  %tbody
  - @dists.each do |dist|
    - if dist.name.length > 1 then
      %tr
        %td
          = link_to dist.name, district_path(dist.id)
        %td
          = dist.system_users.count rescue '0'
