!!!
%html
  %head
    %title localhost.ug
    %meta{name: "Content-Type", content: "text/html; encoding=UTF-8"}/
  %body
    %h1 Your Account Has Expired
    %p
      For more information, contact our sales personnel.
      <br /><br />
      <a href="mailto:specialist@localhost.ug">specialist@localhost.ug</a>
    %p
      <h2><a href="http://localhost.ug/">localhost.ug</a></h2>
      Web-Based Customer Relations Technology
